@{ 
    ViewBag.Title = "Home Page";
}
    
<h1>The Vinyl Pit</h1>
<p>Find & sell vinyl</p>

<form>
   <div>
     <label>Date</label>
     <input />
   </div>
   
   <div>
     <label>Location</label>
     <input />
   </div>
   
   <div><input type="submit" value="Add" /></div>

</form>
        