@{ 
    ViewBag.Title = "Home Page";
}
<div class="row">
  <div class="col-md-6">
    <h1>The Vinyl Pit</h1>
    <p>Find & sell vinyl</p>

   <form>
     <div>
       <label>Date</label>
        <input />
     </div>
   
   <div>
     <label>Location</label>
     <input />
   </div>
   
   <div><input type="submit" value="Add" /></div>

</form>
   </div>
  <div class="col-md-6">
     <h2>Map</h2>
   </div>
</div>       